* :before, :after{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

@font-face {
    font-family: 'Mercedes';
    src: url(../font/DaimlerCAC-Regular.woff2) format(woff2);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    font: 200 18px/1.3 'Mercedes';
    color: #fff;  
    background-color: #000;     
}

header {
    background-color: black;          
}

.upper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    height: 50px;    
    z-index: 100;   
}

.caption {
    letter-spacing: 0.5px;
    color: rgb(229, 230, 231);
    margin:7px 0 0 0;
    text-align: center;
}

.upper_fixed {
    position: fixed;
    left: 0;
    top: 0;
}

.navi {
    width: 100%;    
}

ul {
    list-style: none;
    padding-left: 0;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; 
    margin: 0 15%;
    padding-bottom: 10px;     
}


.menu a{
    cursor: pointer;
    text-decoration: none;
    color: rgb(146, 150, 150); 
    align-items: center;  
}

.menu a:hover {
    color: #fff;
    transition: color 0.7s ease 0s;
}


.image {
    background-image: url(../image/Legendarnyj-Mercedes-Benz-Gullwing\ —\ копия.jpg);
    background-position: center center;
    background-size: cover;
    height: 720px;
    background-color: #fff;
    position: relative;
}

.text {    
    background-color: black;
    text-align: left;    
    max-width: 300px;
    height: 300px;
    padding: 40px;
    position: absolute;
    top: 80px;
    left: 50px;
    animation: enter 3s 1;
}

@keyframes enter {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

h3.legenda {
    margin-top: 0;
    font: 100 1.7em/1.7 'Mercedes';
}

p.success {
    font-size: 1.5em;
}

.animation_block {
    height: 100px;
    background-color: #000;
}

div.content {
    display: grid;
    grid-template-columns: repeat(auto-fill, 50%);
    grid-template-rows: (350px, 350px);
    grid-gap: 0 0;
    background-color: #000;  
    font-size: 24px;   
}

.text_block {
    text-indent: 15px;
    animation: enter 3s 1;
    padding-left: 25px;
    padding-right: 25px;
}

.block2 {
    background-image: url(../image/donor.webp);
    object-fit: cover;
    background-position: center center;
    background-size: cover;
}

.block3 {
    background-image: url(../image/wing1952else.avif);
    object-fit: cover;
    background-position: center center;
    background-size: cover;
}


.block6 {
    background-image: url(../image/wing1952.avif);
    object-fit: cover;
    background-position: center center;
    background-size: cover;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;   
}

.footer_link {
    color: #fff; 
    padding-left: 25px;   
}

.footer_link:hover {
    color: rgb(24, 86, 221);
}

.social_logo {
    display: flex;
    flex-wrap: wrap;   
}

.follow_mb {
    font-size: 3rem;
}



ul.social_logo li > a {
    color: #fff;   
    margin-left: 20px;     
}

ul.social_logo li > a:hover {
    color: rgb(24, 86, 221);      
}

.form {
    width: 200px;
    justify-content: flex-end;
    font-size: 14px;   
}

.button {
    cursor: pointer;
    background-color: rgb(158, 156, 156);
    border-radius: 10px;
    font: 400 14px/1.3 'Mercedes';
}

.engine {
    background-image: url(../image/motor.jpg);
}

.wings {
    background-image: url(../image/mb300sl.jpeg);
}

.chassis {
    background-image: url(../image/amortizator300sl.jpg);
}

.tires {
    background-image: url(../image/rezina300sl.jpg);
}



.engine,
.wings,
.chassis,
.tires {
    position: relative;
    height: 450px;    
    background-position: center center;
    background-size: cover;
    max-width: 100%;
    margin-bottom: 30px;
}

.engine:hover,
.wings:hover,
.chassis:hover,
.tires:hover {
    cursor: pointer;
    animation: enter 3s 1;
}
    
.hidden {  
    max-width: 100%;
    /* height: 100%; */
    font-size: 22px;
    margin: 0;
    opacity: 0;  
    padding: 10px 30px 20px 30px;  
    text-indent: 25px;    
}

.link_for_block, .motor, .gullwings, .chassis_topic, .tires_topic {
    font-size: 30px;
    color: #fff;
    letter-spacing: 1.5px;    
    max-height: 100%;
    margin-top: 0; 
    text-align: center;   
}

.link_for_block {
    padding: 0 40%;
}


.appearance_1952 {
    display: grid;
    grid-template-columns: repeat(auto-fill,45%);    
}

h1.total_look {
    font-size: 50px;
    font-weight: 200;
    text-align: center;
    align-self: center;
}

.text_block_appearance1 {
    text-indent: 25px;
    font-weight: 300;
    padding: 30px;    
}

.wrapper {
    padding: 30px;
    min-height: 100%;
}    

.image-slider {
    padding: 30px 0 70px 0;    
}

/* .image-slider_wrapper {
}

.image-slider_slide {
} */

.image-slider_image {
    text-align: center;
}

.image-slider_image img {
    max-width: 100%;
}

.image-slider .swiper-button-next::after,
.image-slider .swiper-button-prev::after {
    color: #fff;
    font-size: 50px;
}

.image-slider .swiper-pagination {
    bottom: 0;
}

.image-slider .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    line-height: 20px;
    font-size: 16px;
    background-color: #fff;
}

